Unit]
Description=Start Errbot chatbot
After=network.service

[Service]
Environment="LC_ALL=en_US.UTF-8"
ExecStart=/home/morty/errbot-venv/bin/errbot --config /home/morty/errbot-venv/errbot-root/config.py
WorkingDirectory=/home/morty/errbot-venv/
User=morty
Restart=always
KillSignal=SIGINT
