[Unit]
Description=Octopus Client

[Service]
ExecStart=/home/morty/errbot-venv/errbot-root/plugins/octopus/client/start_client_service

[Install]
WantedBy=multi-user.target
