[Unit]
Description=Foo

[Service]
ExecStart=python3 ~/errbot-venv/errbot-root/plugins/octopus/client/start_client_service

[Install]
WantedBy=multi-user.target
